/*reset mechanism*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*end of reset mechanism*/

html {
  background-image: url("../images/pattern1.png");
}
header, footer {
  background: rgb(244, 131, 119);
}
header {
  padding: 10px;
}
body {
  font-size: 14px;
  font-family: "Times New Roman", serif;
  color: black;
  background: #F3EBE9;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  text-align: right;
}
.page {
  padding: 10px;
}
.groupImg {
  padding: 1px;
  border: 3px solid rgb(170, 170, 170);
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: cursive, Helvetica, sans-serif;
  margin: 10px 0;
}
.page h2 {
  text-decoration: underline;
}
footer p {
  font-size: 12px;
  color: white;
  padding: 15px 15px 25px 15px;
}
p {
  font-family: serif;
  margin: 10px 0;
}
