html {
	background-image: url('../images/pattern1.png');
}

body {
	font-family: "Times New Roman", serif;
	color: black;
	font-size: 14px;
	margin: 0 auto;
	width: 1000px;
}

div.whole_page {
	width: 980px;
	margin: 0 auto;
}

header {
	background-color: #F0776E;
}

h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 8px;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-family: cursive, Helvetica, sans-serif;
	padding-left: 8px;
	padding-bottom: 15px;
	text-decoration: underline;
}

header h2 {
	text-decoration: none;
}

div.page {
	background: #F3EBE9;
}

div.about {
	margin: 10px;
	margin-top: px;
}

p {
	margin: 5px 5px 15px 8px;
}

div.photos_container {
	padding-bottom: 15px;
	margin-left: 10px;
}

div.photos img {
	border: 5px solid #CACACA;
	padding: 2px;
}

div.photos {
	margin: 0 auto;
	text-align: center;
}

footer {
	background-color: #F0776E;
	text-align: right;
	color: #FFFFFF;
}

div.footer_div {
		height: 60px;
		padding-top: 10px;
		padding-right: 15px;
		background-color: #F0776E;
		text-align: right;
		color: #FFFFFF;
}
