body {
	background-image: url("../images/pattern1.png");
	font-family: "Times New Roman", serif;
	font-color: black;
	//background: #F3EBE9;
	Font Size: 14px
}

header {
	background-color: #FF6967;
}
H1 {
	font-size: 50px;
	margin: auto;
   Font Family = Arial, Helvetica, sans-serif;
   Text-transform: uppercase;
   color: #FFFFFF;	(White)
}

H2 {
font-size: 20px;
Text-Transform: uppercase;
font-Family: cursive, Helvetica, sans-serif;
}
H3 {
	font-size: 20px;
	font-family: cursive;
}

h4 {
	font-family: cursive;
	margin-left:
	font-size: 30px;
}
div {
	background-color: white;
	padding: 30px;
}
footer {
	background-color: #FF6967;
	padding:20px;
}
.content{
	width: 600px;
	margin: 0 auto;
}

.imgSmall img{
	display:inline-block;
	width: 23%;
}
